ALPACA
*.log
doc/html
doc/latex
objects/
/.cproject
/.project
*.config
*.files
*.includes
*.creator
*.creator.user
*.h5
*.xdmf
.settings/
*.dat
*.swp
# Ignore files which are created during a Testsuite run
*.pyc
TestSuite_2019*
Utilities/Executables/
*.err
*.out
.vscode/*
*.code-workspace
*.clangd
compile_commands.json
Build/*
build/*
